<div class="uk-margin" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="uk-margin">
        <h1> Write your city name!</h1>
    </div>
    <form th:action="@{/weather/getWeather}" action="POST">
        <fieldset class="uk-fieldset">

            <div class="uk-margin">
                <input id="cityNames" class="uk-input uk-form-width-medium" type="text" name="cityName"
                       placeholder="Your city name">
                <label for="cityNames"></label>
            </div>
            <button class="uk-button uk-button-primary" type="submit"> Send City !</button>
        </fieldset>
    </form>
    <script th:inline="javascript">
 $(function() {
		$("#cityNames").autocomplete({
			source : function(request, response) {
				$.ajax({
					url : "/weather/getlocal",
					dataType : "json",
					data : {
						cityChar : request.term
					},
					success : function(data) {
						response($.map(data,function(el){
						    console.log(el.localizedName);
						    return{

						    };
						}));
					}
				});
			},
			minLength : 2
		});
	});


    </script>
</div>

