<div th:if="${apixuWeather != null}" class="uk-card uk-card-default uk-card-hover uk-card-body uk-margin-xlarge" xmlns:th="http://www.w3.org/1999/xhtml">
        <h3 class="uk-card-title" th:text="${apixuWeather.getApiName()}"></h3>
        <table class="uk-table uk-table-striped">
                <tbody>
                <tr>
                        <td>Main data:</td>
                        <td th:text="${apixuWeather.getCurrent().getWind_kph()}"></td>
                        <td th:text="${apixuWeather.getCurrent().getWind_degree()}"></td>

                </tr>
                <tr>
                        <td>Temperature</td>
                        <td th:text="${apixuWeather.getCurrent().getTemp_c()}"></td>
                </tr>
                </tbody>
        </table>
</div>